body {
  font-family: 'Montserrat', sans-serif;
  background-color: #024731;
  color: #C8C8C8 !important;
}

.header {
  font-family: 'Montserrat', sans-serif;
}

.form {
  font-family: 'Montserrat', sans-serif;
}

.button {
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif !important;
  color: white !important;
}

.footer-background {
  font-family: 'Montserrat', sans-serif;
  background-color: #024731;
  color: #C8C8C8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.centered.aligned.header {
  font-family: 'Montserrat', sans-serif;
}

.navBar-background {
  color: #C8C8C8;
}

.ui.borderless.top.menu {
  font-family: 'Montserrat', sans-serif;
  background-color: #024731;
  color: #C8C8C8;
  padding-bottom: 15px;
  padding-top: 5px;
}

.main-background {
  background-image: url("https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2017/12/06/194934_1326680.JPG.1500x1125_q95_crop-smart_upscale.jpg");
  background-size: cover;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  height: 500px;
  margin-top: -20px;
}

.nooksBackground {
  background-image: url("cafebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profileCss {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.cards {
  font-family: 'Montserrat', sans-serif;
}

.center-class {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.middleContent {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.profile {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.landing.cards {
  width: 500px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

.logoPlaceholder {
  position: relative;
  margin-top: 100px;
  text-align-all: center;
  font-size: 70px;
  color: ghostwhite;
}

#description {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 75px;
  text-align: center;
}

#akamai {
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}

#nook {
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  color: green;
}

#credit {
  color: gainsboro;
}

#credit2 {
  font-size: 8px;
}

#searchBar {
  position: relative;
  text-align-all: center;
  width: 1075px;
  align-content: center;
  text-align: center;
  margin-left: 35px;
}
